{%extends 'base.html'%}
{%block title%}Sobre Nosotros{%endblock%}
{%block content%}

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css" type="text/css"/>
 

<br><br><br><br>


<font color="#EEEEEE">
<div class="row">

 <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-10" style ='background-color: rgba(50, 20, 20, .5); border-radius: 20px;'>
    {{Noticias}}
 <strong> <h1><center>   <IMG SRC="/static/image/nosotros4.png" style = 'border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
'></center> </h1></strong>
  	<br>
<p> <br>
  	El  acceso al conocimiento e información y el desarrollo las habilidades lectoescritoras constituyen medios fundamentales  que permiten a los ciudadanos mayores oportunidades  de desarrollo educativo, laboral y personal.
 <br><br>
Construir sociedades lectoras es una misión que constituye una de las prioridades de la Red de Bibliotecas Públicas Municipales en la ciudad de Tijuana y para emprender la tarea contamos con 63 compañeros bibliotecarios y 23 espacios, mismas que  dependen del Instituto Municipal de Arte y Cultura  del Ayuntamiento de Tijuana.


  <IMG SRC="/static/image/nosotros1.png"  align="right"  WIDTH=430 HEIGHT=260 style = 'border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
'>
<br><br>
La dimensión física de las bibliotecas presenta un deterioro desde hace mas tres décadas y son escasos los insumos para la operación. 
Frente a este reto, en el Ayuntamiento  desarrollamos acciones para rehabilitar,  actualizar  mobiliario,  fortalecer el acervo bibliográfico,   y atender a poblaciones  prioritarias con el claro a poyo del sector público, académico, privado y civil.<br><br>


  <IMG SRC="/static/image/nosotros2.png"  align="left" WIDTH=350 HEIGHT=450 style = 'border-radius: 10px;       
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
'>

      Nos proponemos seguir trabajando para que   estos son sitios  sean de encuentro y de bienestar,  queremos conocerte;   invitarte a leer, a jugar, estudiar  y convivir. <br><br>
       <IMG SRC="/static/image/frases.png"  WIDTH=600 HEIGHT=200>
<br><br><br>
<i>
Victoria Zepeda Sotelo
Coordinadora de Bibliotecas Públicas Municipales
Instituto Municipal de Arte y Cultura
Ayuntamiento de Tijuana
</i>
<br><br><br>
  <IMG SRC="/static/image/firma.png"  align="right" WIDTH=400 HEIGHT=75 style = 'border-radius: 10px;       

'>
</p>







 </div>
 <div class="col-xs-1 col-md-1"></div>
</div>
</font>
{%endblock%}