{%extends 'base.html'%}
{%block title%}Directorio{%endblock%}
{%block content%}

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css" type="text/css"/>
 


<br><br><br><br>

<font face="Calibri" SIZE=4 color = 'white'>
<div class="row">

 <div class="col-md-1 col-xs-0"></div>
      <div class="col-md-10 col-xs-12" style ='background-color: rgba(50, 20, 20, .5); border-radius: 10px;'>

<center>
<IMG SRC="/static/image/directorio.png" style = 'border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
'>
</center>

  <center>
<IMG SRC="/static/image/mapa.png" style = 'border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
'>
</center>
<style type="text/css">
  table.tableizer-table {
    font-size: 12px;
    color: #FFF;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
  } 
  .tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
  }
  .tableizer-table th {
    background-color: #330000; 
    color: #FFF;
    font-weight: bold;
  }
</style>

<font color = 'white'>
Sé parte de la Red de Bibliotecas Públicas de Tijuana  y accede a préstamo gratuito de material bibliográfico, libros digitales, capacitaciones, internet, actividades culturales ¡y mucho más!
 <br><br>
Busca tu biblioteca pública más cercana en el archivo adjunto que puedes descargar más abajo (en Recursos adicionales).
<br><br>
</font>
<font color = 'white'>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>NO.</th><th>BIBLIOTECA</th><th>DIRECCION</th><th>TELEFONO</th><th>HORARIO</th><th> BIBLIOTECARI@</th></tr></thead><tbody>
 <tr><td>1</td><td>Coordinación General (oficina)</td><td>AVE. EL CENTENARIO #1015, ZONA RIO</td><td>6 84 93 20</td><td>8:00- 19:00</td><td>Victoria Zepeda Sotelo- Coordinadora</td></tr>
 <tr><td>2</td><td>BENITO JUAREZ</td><td>AVE. EL CENTENARIO #1015, ZONA RIO</td><td>6-84-26-91</td><td>8:00 - 19:00</td><td>J. Jesus Sanchez Torres</td></tr>
 <tr><td>3</td><td>IGNACIO ZARAGOZA</td><td>CALLE. F. G 930, ZONA CENTRO.</td><td>6-85-05-01</td><td>  8:00- 19:00 </td><td>Rafael Lizárraga García</td></tr>
 <tr><td>4</td><td>JOSEFA ORITZ DE DOMINGUEZ</td><td>AVE. LISBOA Y ARTURO POMPA #5, ALTAMIRA</td><td>6-35-24-76</td><td>09:00 - 16:00</td><td>Alfredo Laurean Chavez</td></tr>
 <tr><td>5</td><td>EMILIANO ZAPATA</td><td> </td><td>&nbsp;</td><td>09:00 - 16:00</td><td>Agustin Torres Haro</td></tr>
 <tr><td>6</td><td>OTILIO MONTAÑO</td><td>EMILIANO ZAPATA #176, EJIDO MATAMOROS</td><td>6-46-12-78</td><td>09:00 - 16:00</td><td>Imelda Villaseñor Ortiz</td></tr>
 <tr><td>7</td><td>GUSTAVO AUBANEL VALLEJO</td><td>AGUA PRIETA SIN NUMERO, FRACC. REYNOSO </td><td>6-22-03-41</td><td>07:30 - 15:00</td><td>Beatriz Sánchez Martínez</td></tr>
 <tr><td>8</td><td>BRAULIO MALDONADO</td><td>CALLE. 2DA ESQ. CONSTITUCION 8083, ZONA CENTRO</td><td>6-09-41-62</td><td>8:00 - 19:00</td><td>Natalia Ocaño Mendoza</td></tr>
 <tr><td>9</td><td>SOLIDARIDAD </td><td>AVE. CENTENARIO S/N, COL. OBRERA 2DA SECCION</td><td>6-87-56-97</td><td>08:00 - 15:00</td><td>Angelica Bribiesca</td></tr>
 <tr><td>10</td><td>JUAN MARIA DE SALVATIERRA</td><td>HAITIANOS, S/N ESQ. BRASILEÑOS INFONAVIT CACHANILLAS</td><td>6-26-39-08</td><td>09:00 - 16:00</td><td>Dora L. Quijas Aguilar</td></tr>
 <tr><td>11</td><td>NEZAHUALCOYOTL</td><td>DINAMARCA S/N FRACC. AZTECA JUNTO A LA DELEG. M. ALEMAN</td><td>6-26-85-66</td><td>09:00 - 16:00</td><td>Julia Hernández Pérez</td></tr>
 <tr><td>12</td><td>FRANCISCO JAVIER CLAVIJERO</td><td>RIO AMAZONAS, 20921, INFONAVIT CAPISTRANO </td><td>6-25-04-11</td><td>09:00 - 16:00</td><td>Guadalupe Mackintosh Hernández</td></tr>
 <tr><td>13</td><td>ENCUENTRO DE CULTURAS </td><td>MAZATLAN Y PERIFERICO SUR S/N, FRACC. CORTEZ</td><td>6-36-86-86</td><td>09:00 - 16:00</td><td>Claudia Lora Jaime</td></tr>
 <tr><td>14</td><td>JOSE VASCONCELOS</td><td>AVE. CRUZ DEL SUR S/N, COL. SANCHEZ TABOADA</td><td>6-26-08-84</td><td>09:00 - 17:00</td><td>Blanca Sifuentes Meraz</td></tr>
 <tr><td>15</td><td>FRANCISCO EUSEBIO KINO </td><td>BAHIA QUINO 66 INFONAVIT LOMAS DEL PORVENIR C. COMUNITARIO</td><td>6-30-37-84</td><td>08:00 - 15:00</td><td>Yolanda López Cruz</td></tr>
 <tr><td>16</td><td>FERNANDO JORDAN</td><td>AVE. PASEO DEL RIO Y CALLE CAÑADA S/N, TERCERA ETAPA ZONA RIO</td><td>6-89-30-52</td><td>09:00 - 16:00</td><td>Norma Rodríguez Hernández</td></tr>
 <tr><td>17</td><td>MANUAL CLEMENTE ROJO</td><td>HACIENDA MEXICALI, ESQ. CON AMARANTO, FRACC. HACIENDA LAS FUENTES, LA PRESA</td><td>6-50-17-93</td><td>08:00 - 17:00</td><td>Luz Ma. Orozco</td></tr>
 <tr><td>18</td><td>SOR JUANA INES DE LA CRUZ</td><td>C. QUINTA ESQ. AVE LAS TORRES S/N, FRACC. EL PIPILA</td><td>701-68-28</td><td>08:00 - 15:00</td><td>Ana Bertha Jiménez Rubio</td></tr>
 <tr><td>19</td><td>JOSEFINA RENDON PARRA</td><td>JOSE COMODU Y FRAY PEDRO DE GANTE S/N, COL. SALVATIERRA</td><td>6-87-68-25</td><td>09:00 - 16:30</td><td>Rosa Maria Gonzalez</td></tr>
 <tr><td>20</td><td>ABELARDO L. RODRIGUEZ</td><td>KILOMETRO 13.5 CARRETERA LIBRE ROSARITO S/N, TIJUANA </td><td>6-36-56-94</td><td>08:00 - 15:00</td><td>Diana González Cordova</td></tr>
 <tr><td>21</td><td>MARIA LUISA MELO DE REMES</td><td>AVE. DIEGO RIVERA S/N ENTRE J. CLEMENTE Y D. ALFARO SIQUEROS, OTAY MODULOS, MODULO 4 </td><td>979-07-48</td><td>09:00 - 16:00</td><td>Xochiltl Barragan Gomez</td></tr>
 <tr><td>22</td><td>LUIS DONALDO COLOSIO</td><td>C. MIMIHUAPAN S/N, COL. LOMAS TAURINAS, MESA OTAY</td><td>6-82-74-37</td><td>08:00 - 15:00</td><td>Laura Villanueva Vázquez</td></tr>
 <tr><td>23</td><td>JOSE MARIA MORELOS</td><td>AVE. PARQUE MEXICO S/N, PLAYAS DE TIJUANA</td><td>6-30-96-18</td><td>09:00 - 16:00</td><td>Guillermo Ríos González</td></tr>
 <tr><td>24</td><td>JUAN RULFO</td><td>C. CABO SAN LUCAS Y BAHIA LA PAZ S/N, FRACC. EL MIRADOR </td><td>6-31-55-75</td><td>08:00 - 15:00</td><td>Irene Sotelo Flores</td></tr>
 <tr><td>25</td><td>PARA-LIBROS DELEGACION S.A.B</td><td>MIRAFLORES 8351, EL RUBÍ, 22000 TIJUANA</td><td>    6-35-61-14</td><td>8:00 - 15:00</td><td>José Alfredo Escobar</td></tr>
 <tr><td>26</td><td>PARA-LIBROS PALACIO MUNICIPAL</td><td>AVE. INDEPENDENCIA Y PASEO CENTENARIO 1350.ZONA RÍO, C.P. 22320,TIJUANA,</td><td>&nbsp;</td><td>9:00 - 15:00</td><td>Araceli de la O Flores</td></tr>
</tbody></table>
</font><br><br>
<font face="Calibri" SIZE=4 color = 'white' align="right" >
  <a href="https://drive.google.com/file/d/0BzWtZKiEUc0LU0lWUlZHbXlIZVk/view?usp=sharing" style = 'color: #CC3300;'>Descarga nuestro directorio aqui para mas información</a>
</font>
 </div>
 <div class="col-md-1 col-xs-0"></div>
</div>

{%endblock%}