{%extends 'base.html'%}
{%block title%}Noticias{%endblock%}
{%block content%}


<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css" type="text/css"/>
<!-- Page --> 

<br><br><br><br>
<div class="col-md-1"></div>
      <div class="col-md-10" style ='background-color: rgba(50, 20, 20, .5); border-radius: 10px;'>
<center>
  <center>
<IMG SRC="/static/image/noticias.png" style = 'border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
'>
</center>
<br>
<font color = 'white'>
  <p>
Aqui puedes ver nuestras nuevas noticias acerca de nuestras bibliotecas.
</p>
</font> 
<br><br>
</center>



   {%for p in Noticias%}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">{{p.user}} - {{p.titulo}}  </h3>
  </div>


  <div class="panel-body">
    {{p.cuerpo}} <br> 
{% if p.imagen %}
<font face="Calibri" SIZE=2 color = 'white'>
{{p.imagen|length}}
</font>

<center>
<IMG SRC="/static/{{p.imagen}}" > 
</center>
 {% else %}
      
    {% endif %}

<br> <br>

<strong> 
    <font face="Calibri" SIZE=2 >
    <i>{{p.fecha}}, {{p.hora}}</i> 
</strong>
<p align = "right">

    <a class="btn btn-primary btn-lg" align="right" href="http://www.facebook.com/sharer.php?u=http://localhost:8000/Noticias/" role="button">Comparte en Facebook</a>
</p>

  </font>
  </div>
</div>



{% endfor %}




</div>
 <div class="col-md-1"></div>
</div>
<!-- Page --> 
{%endblock%}