{%extends 'base.html'%}
{%block title%}Panel de Administracion{%endblock%}
{%block content%}


<link  rel = "stylesheet"  href = "http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" >  
<script  src = "http://code.jquery.com/jquery-1.9.1.js" ></script> 
<script  src = "http://code.jquery.com/ui/1.11.0/jquery-ui.js" ></script> 
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.main.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.css.map" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" type="text/css"/>
<link rel="stylesheet" href="../../static/bootstrap-3.2.0-dist/css/bootstrap.css" type="text/css"/>
<br><br><br><br>
<div class="col-md-1"></div>
      <div class="col-md-10" style ='background-color: rgba(50, 20, 20, .5); border-radius: 10px;'>
<center>
<font face="Calibri" SIZE=8 color = 'white'>
	Panel de Administracion<br><br>
</font>
</center>

<div class="col-md-8">
	<font face="Calibri" SIZE=5 color = 'white'>
En en panel de administracion, tu como biblioteca, podras publicar nuevas noticias acerca de estas, asi como eventos futuros. <br><br>Solo presiona la opcion que desees y automaticamente seras redirigido al tipo de contenido que deseas publicar. <br><br>
</font>
</div> 

<center>
 <div class="btn-group btn-group-lg" role="group" aria-label="...">
 	<a href="http://localhost:8000/PanelNoti" class="btn btn-default btn-lg" role="button">Noticias</a>
 <a href="http://localhost:8000/PanelEvent" class="btn btn-default btn-lg" role="button">Eventos</a>
</div>
 </center>


<center>



</div>
 <div class="col-md-1"></div>
</div>

{%endblock%}